/*                                        Swiper*/


.swiper-container {
  width: 100%;
  padding: 50px 0;
  background: #aaa1a1;
}

.swiper-buttons {
  width: 104px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}

.swiper-slide {}

.swiper-button-next,
.swiper-button-prev {

  font-size: 10px;
  --swiper-navigation-size: 14px;
  background: white;
  border-radius: 50%;
  padding: 17px;
}




/*                                            Slick*/


.slick-container{
    background: #aaa1a1;
  height: 190px;
}
.slick-container .card{
  height: 150px;
  overflow: hidden;
}




/*                                                  bxslider*/



.bxslider-container{
    background: #aaa1a1;
  display: flex;
  justify-content: center
    
}